/* font not working for some reason */
* {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}


/* My Name */
h1 {
    /* font-size: 36px; */
    font-weight: bold;
    padding: 20px;
}

/* Subheadings */
h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #4aaaa5;
    border-bottom: #4aaaa5 solid;
}

.connect {
    /* width: 260px; */
    text-align: center;
}

/* Navigation line */
nav {
    /* text-align: right; */
    /* width: 950px; */
    /* height: 76px;
    line-height: 32px; */
    background: #0000ff63;
    /* margin-left: 20px; */
    /* margin-top: -50px; */
}
.navbar-brand {
    /* background: #4aaaa5; */
    /* padding: 20px; */
    /* padding-bottom: 40px; */
    margin-right: 20px;
    /* margin-bottom: 0px; */
}

.nextPage {
    margin-top: 20px;
}

/* Background */
body {
    background-image: url('../images/zigZagWool.png');
    /* background-image: url('https://media0.giphy.com/media/3ohhwNqFMnb7wZgNnq/giphy.gif'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


#bio, #contactInfo, #portfolioItems {
    background: #ffffff;
    border: #ff0000 solid;
    /* width: 650px; */
    margin-left: 20px;
    margin-top: 20px;
    /* float: left; */
}

.contactTitle {
    margin-left: 40px;
}

h3, textarea, button {
    margin-left: 40px;
}

#bio-image {
    float: left;
    margin-right: 20px;
}

#contact {
    background: #ffffff;
    border: #ff0000 solid;    
    /* width: 270px; */
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 10px; */
    float: left;
}

#github, #linkedin, #stack {
    height: 60px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
}

.bioGraphy {
    float: left;
    overflow: auto;
}

h3 {
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background: #4aaaa5;
    color: #ffffff;
    height: 40px;
    width: 115px;
    font-size: 15px;
}

/* Position the words in the Portfolio so that they would be on the images */
h4 {
    position: relative;
    left: 35px;
    up: 100px;
    background: #4aaaa5;
    color: #ffffff;
    height: 60px;
    width: 200px;
    text-align: center;
    padding-top: 20px;
    margin-left: 10px;
}

#img1, #img2, #img3, #img4, #img5 {
    padding: 10px;
    margin-bottom: 10px;
}


.title1 {
    margin-bottom: -50px;
    z-index: 1;
}

footer {
    clear: both;
    padding: 20px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background: #0000ff63;
    color: white;
    /* width: 1000px; */
}

.card-deck {
    margin-top: 20px;
}